:root {
  /* Colors main */
  --clr-very-dark-blue: hsl(233, 47%, 7%);
  --clr-dark-desaturated-blue: hsl(244, 38%, 16%);
  --clr-soft-violet: hsl(277, 64%, 61%);

  /* Colors neutral */

  --clr-white-hsl: 0, 0%, 100%;
  --clr-white: hsl(var(--clr-white-hsl));
  --clr-shadow: hsla(233, 28%, 13%, 0.203);

  /* Typography */

  --fs: 15px;
  --ff-main: "Inter", sans-serif;
  --fw-main-bold: 700;
  --fw-main-regular: 400;

  --ff-secondary: "Lexend Deca", sans-serif;
  --fw-secondary-regular: 400;
}

html,
body {
  height: 100%;
  font-size: 15px;
}

body {
  font-family: var(--ff-main);
  background: var(--clr-very-dark-blue);
  color: hsl(var(--clr-white-hsl), 0.75);
}

li {
  list-style: none;
}

.container {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5vh 5vw;
  overflow: hidden;
}

main {
  display: flex;
  max-width: 1110px;
  background: var(--clr-dark-desaturated-blue);
  box-shadow: 0px 20px 20px -10px var(--clr-shadow);
  border-radius: 8px;
}

.left {
  flex-basis: 55%;
  margin: 72px 95px 60px 72px;
  max-width: 400px;
}

h1 {
  color: var(--clr-white);
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
}

h1 span {
  color: var(--clr-soft-violet);
}

.description {
  max-width: 375px;
  margin-top: 25px;
  margin-bottom: 72px;
  line-height: 25px;
  mix-blend-mode: normal;
  color: hsla(var(--clr-white-hsl), 0.33);
}

.stats-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 370px;
}

.stats-list li strong {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: var(--clr-white);
  display: block;
}

.stats-list li span {
  font-family: var(--ff-secondary);
  color: hsla(var(--clr-white-hsl), 0.6);
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
  text-transform: uppercase;
  mix-blend-mode: normal;
}

.right {
  background-color: var(--clr-soft-violet);
}

picture,
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.75;
}

.attribution {
  position: absolute;
  bottom: 20px;
  font-size: 11px;
  text-align: center;
  padding: 10px;
}

.attribution a {
  color: var(--clr-soft-violet);
}

@media only screen and (max-width: 1000px) {
  .left {
    flex-basis: 50%;
    margin: 52px 75px 40px 52px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 80px 25px;
    text-align: center;
  }
  main {
    flex-direction: column-reverse;
    max-width: 500px;
  }
  .left {
    flex-basis: auto;
    margin: 32px;
  }
  .left > * {
    max-width: 100%;
  }
  .stats-list {
    flex-direction: column;
  }
  h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .description {
    margin-top: 16px;
    margin-bottom: 40px;
  }
}
